// Specific CSS for your home-page
body {
  background-image: url(https://cdn.dribbble.com/users/1787323/screenshots/7477950/media/a31d9c0a3d44336526059a33bd20224d.png?resize=1000x750&vertical=center);
  background-size: cover;
  background-position: bottom 90% right 50%;
}
